
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-pinterest:before { content: '\f231'; } /* '' */
.icon-twitter-1:before { content: '\f302'; } /* '' */