<!doctype html>
html
    head
        link(href="./styles/main.css", rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&family=Varela+Round&display=swap" rel="stylesheet")
    body
        include sections/header.pug
        include sections/main-screen.pug
        include sections/features.pug
        include sections/feature-iphone.pug
        include sections/screens.pug
        include sections/buy.pug
        include sections/customers.pug
        include sections/plan.pug
        include sections/subscribe.pug
        include sections/footer.pug
        include sections/footer-bottom.pug
            script(src="./js/script.js")