.buy
 .container.buy__container
  .buy__description NEW
   span.buy__description-size PROVIDENCE
  .title Get it to your smartphone
  .buy__input
   input.buy__input-email(type="text" placeholder="denis@getcraftwork.com")
   button.buy__input-send Send Invite ➔
  .buy__description-size OR DOWNLOAD FROM
  button.buy__download
   img.buy__download-img(src="../img/apple.png", alt="")
   p.buy__download-text App Store