.customers
 .container.customers__container
  .customers__userpics
   .customers__userpics-arrow-left
   .customers__userpics-img-1
   .customers__userpics-img-2
   .customers__userpics-img-3
   .customers__userpics-arrow-right
  .customers__title New Providence is the great UI kit
  .description.customers__description “Just then her head struck against the roof of the hall: in fact she was now more than nine feet high, and she at once took up the little golden key and hurried off to the garden door.”
  .customers__stars
   img(src="../img/stars.png", alt="")
  .customers__text CAMERON DOWMAN