.feature-iphone
  .feature-iphone__content
   .feature-iphone__content-left
   .feature-iphone__content-right
    .title.feature-iphone__content-right-title Your day is protected
    .description.feature-iphone__content-right-description There have not been any since we have lived here, said my mother.
    .description We thought - Mr. Copperfield thought - it was quite a large rookery; but the nests were very old ones, and the birds have deserted them a long while.
    .feature-iphone__content-right-button
     button.feature-iphone__content-right-button-left Try to hack us ➔
     button.feature-iphone__content-right-button-right Learn more
  .feature-iphone__content-bottom
   .feature-iphone__content-bottom-left
    .title We are almost
    .title.feature-iphone__content-bottom-left-title everywhere
    .description.feature-iphone__content-bottom-left-description Now the races of these two have been for some ages utterly extinct, and besides to discourse any further of them would not be at all to my purpose.
    .description Thus much I thought proper to tell you in relation to yourself, and to the trust I reposed in you.
    .feature-iphone__content-bottom-left-text PARTNERS
    .feature-iphone__content-bottom-left-partners
     img.feature-iphone__content-bottom-left-partners-1(src="../img/dropbox.png", alt="")
     img.feature-iphone__content-bottom-left-partners-2(src="../img/evernote.png", alt="")
   .feature-iphone__content-bottom-right