.features
 .container.features__container
  .features__content
   .features__content-left
    .features__content-left-basket
    .features__content-title Real-time all the time
    .description.features__content-description Thus much I thought proper to tell you in relation to yourself, and to the trust I reposed in you.
    .description Just then her head struck against the roof of the hall: in fact she was now more than nine feet high, and she at once took up the little golden key and hurried off to the garden door.
   .features__content-right
    .features__content-right-clock
    .features__content-title Adopt without any obstacles
    .description.features__content-description This sounded a very good reason, and Alice was quite pleased to know it. 'I never thought of that before!' she said.
    .description This I have produced as a scantling of Jack’s great eloquence and the force of his reasoning upon such abstruse matters.
  .line