.footer
 .container.footer__container
  .footer__left
   img.footer__logo(src="../img/logo.png", alt="")
   .footer__description It was some time before he obtained any answer, and the reply, when made, was unpropitious.
   img(src="../img/store.png", alt="")
   .footer__social
   a(href="").footer__social-icon &#xf099;
   a(href="").footer__social-icon &#xf09a;
   a(href="").footer__social-icon &#xf0d5;
   a(href="").footer__social-icon &#xf0e1;
   a(href="").footer__social-icon &#xf231;
   a(href="").footer__social-icon &#xf302;
  .footer__right-1
   .footer__right-title LEARM MORE
   .footer__right-description How it works?
   .footer__right-description Meeting tools
   .footer__right-description Live striming
   .footer__right-description Contat method
  .footer__right-2
   .footer__right-title ABOUT US
   .footer__right-description About us
   .footer__right-description Features
   .footer__right-description Privacy police
   .footer__right-description Terms & Conditions
  .footer__right-3
   .footer__right-title SUPPORT
   .footer__right-description F.A.Q.
   .footer__right-description Contact us
   .footer__right-description Live chat
   .footer__right-description Phone call
  .line.footer__line
