.footer-bottom
 .container.footer-bottom__container
  .footer-bottom__left For more freebies visit:
   a.footer-bottom__left-text(href="") http://getcraftwork.com
  .footer-bottom__right
   .footer-bottom__right-text MADE WITH LOVE BY
   img(src="../img/footer.png", alt="")