.header
 .container.header__container
  .header__menu
   img(src="../img/menu.png", alt="")
  .header__logo
   img(src="../img/logo.png", alt="")
  .header__right
   .header__right-text Help
   .header__right-text Contacts
   button.header__right-button
    img.header__right-button-size(src="../img/apple.png", alt="")
    p.header__right-button-text Get App