.main-screen
 .container.main-screen__container
  .title.main-screen__title What happens tomorrow?
  .description.main-screen__description The sight of the tumblers restored Bob Sawyer to a degree of equanimity which he had not possessed since his interview with his landlady. His face brightened up, and he began to feel quite convivial.
  button.main-screen__button
   img.main-screen__button-img(src="../img/play.png", alt="")
   p.main-screen__button-text Watch Video
  .main-screen__iphone