.plan
 .container.plan__container
  .plan__content
   .plan__content-left
    .title Choose your perfect plan
    .plan__content-left-text YOU ARE
    .plan__content-left-selector
     button.plan__content-left-selector-left Individual
     button.plan__content-left-selector-right Company
    .description Thus much I thought proper to tell you in relation to yourself, and to the trust I reposed in you.
    .plan__content-left-question Have a bigger team?
     a.plan__content-left-question-size(href="") Let‘s talk
   .plan__content-plan-1
    .plan__content-plan-title Starter
    .plan__content-plan-price FREE
    .description Build your schedule every day
    .plan__content-plan-feature ✓
      span.plan__content-plan-feature-size Unlimeted events
    .plan__content-plan-feature ✓
      span.plan__content-plan-feature-size Connect Dropbox & Evernote
    button.plan__content-plan-button Get started
   .plan__content-plan-2
      .plan__content-plan-title Pro
      .plan__content-plan-price $4.99
      .description Make your life better
      .plan__content-plan-feature ✓
        span.plan__content-plan-feature-size Unlimeted events
      .plan__content-plan-feature ✓
        span.plan__content-plan-feature-size Connect Dropbox & Evernote
      .plan__content-plan-feature ✓
        span.plan__content-plan-feature-size Personal Assistant
      button.plan__content-plan-button Make me a Pro