.screens
 .screens__text
  .title Beautiful Interface
  .screens__text-line
  .screens__text-description LANDING SCREEN
 .screens__img
  .screens__img-screen-1.screens__img-screen-1-size
  .screens__img-screen-2.screens__img-screen-1-size
  .screens__img-screen-iphone.screens__img-screen-iphon-size
  .screens__img-screen-3.screens__img-screen-1-size
  .screens__img-screen-4.screens__img-screen-1-size