.subscribe
 .container.subscribe__container
  .title Subscribe our newsletters
  .buy__input
   input.buy__input-email(type="text" placeholder="Your e-mail")
   button.buy__input-send Subscribe
  .subscribe__description We promise to never spam you.